[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/HDMSpectra"]
	path = thirdparty/HDMSpectra
	url = https://github.com/nickrodd/HDMSpectra.git
